body{

.IMAGE{
    width: 200px;
}
.Product{
    width: 300px;
    background-color: azure;
    background-color: azure;
}
}
.NAME{
    text-align: center;
}
.DESCRIPTION{
    text-align: center;
}
.MMM{
    color: white;
    text-align: center;
    background-color: green;
    width: 100%;
    border: none;
    font-size: 10px;
    height: 40px;
}